body {
    margin: 0;
    padding: 0;
}

.nav1 {
    background-color: #96B6C5;
    padding: 10px;
    font-family: "Georgia", serif;
    display: flex;
    justify-content: flex-end;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
}

.nav1 a {
    color: #EEE0C9;
    text-decoration: none;
    transition: 1s;
}

.nav1 a:hover {
    color: #FFFFFF;
}

.nav2 {
    background-color: #96B6C5;
    padding: 10px;
    font-family: "Georgia", serif;
    display: flex;
    justify-content: flex-end;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
}

.nav2 a {
    color: #EEE0C9;
    text-decoration: none;
    transition: 1s;
}

.nav2 a:hover {
    color: #FFFFFF;
}

.footer1 {
    font-family: "Georgia", serif;
    background-color: #F1F0E8;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.footer1 a {
    color: #96B6C5;
    text-decoration: none;
    transition: 1s;
    font-size: 15px;
}

.footer1 a:hover {
    color: #000000;
}

.footer2 {
    font-family: "Georgia", serif;
    background-color: #F1F0E8;
    display: flex;
    justify-content: center;
}

.footer2 a {
    color: #96B6C5;
    text-decoration: none;
    transition: 1s;
    font-size: 15px;
}

.footer2 a:hover {
    color: #000000;
}

.splash {
    background-color: #b8d0db;
    font-family: "Georgia", serif;
    text-align: center;
    padding: 10px;
    position: relative;
}

.splash h1 {
    color: #66808b;
    font-family: "Georgia", serif;
    font-size: 50px;
}
.splash h2 {
    color: #758e99;
    font-family: "Garamond", serif;
    font-size: 15px;
}

.img1 {
    border: 2px solid #000;
    position: abolsute;
}

.img3 {
    border-radius: 50%;
    border: 2px solid #000;
}

.content {
    background-color: #EEE0C9;
    padding: 10px;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    text-align: center;
    color: #96B6C5;
}

.three-col {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    text-align: center;
}

.card {
    background-color: #F1F0E8;
    border: 5px solid #000;
    box-shadow: 0 2px 4px #3c3c3c;
    text-align: center;
    flex: i;
}

.card h3 {
    margin: 10px;
}

.card ul {
    list-style-type: none;
    padding: 0;
}

.card dt {
    font-weight: bold;
    margin-bottom: 5px;
    text-align: center;
}

.card dd {
    text-align: center;
    margin: 5px 0;
}


.middle {
    background-color: #ADC4CE;
    padding: 10px;
}

.middle h1 {
    text-align: center;
    font-family: "Garamond", serif;
    color: #EEE0C9;
    font-size: 50px;
}

.middle p {
    text-align: center;
    font-family: "Garamond", serif;
    color: #EEE0C9;
}

.one-col {
    border: 2px solid #000;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 2px;
    background-color: #EEE0C9;
    max-width: 500px;
    margin: 0 auto;
}

.one-col label {
    color: #96B6C5;
    font-family: "Georgia", serif;
}